<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>SUEnableAutomaticChecks</key>
    <true/>
    <key>SUHasLaunchedBefore</key>
    <true/>
    <key>SULastCheckTime</key>
    <date>2022-02-04T16:01:47Z</date>
    <key>SUSendProfileInfo</key>
    <false/>
</dict>
</plist>
